@import '../../../../App.scss';

.wrapperForm {
    width: 429px;
    margin-left: 65px;
    padding: 25px 25px 39px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, .15);
    font-size: 16px;
    color: #949494;
    position: relative;

    .padlock {
        position: absolute;
        top: -50px;
        left: -50px;
    }

    .wrapperTab {
        display: flex;
        justify-content: space-between;
        margin-bottom: 40px;

        .tab {
            min-width: 151px;
            text-align: center;
            border-bottom: 2px solid #C7C7C7;
            padding: 0 21px 8px;
            color: #C7C7C7;
            cursor: pointer;
        }

        .activeTab {
            color: $prime_color_1;
            border-bottom: 2px solid $prime_color_1;
        }
    }

    .form { 
        .button {
            width: 100%;
            height: 59px;
            border-radius: 5px;
            border: none;
            font-size: 22px;
            color: $prime_color_3;
            margin: 11px 0 15px;
            background-color: $supplemental_color_3;
            position: relative;
        }
    
        .button:disabled {
            opacity: 50%;
        }

        [dataTooltip] {
            position: relative; 
        }


        [dataTooltip]::after {
            content: attr(dataTooltip);    /* Выводим текст */
            position: absolute;            /* Абсолютное позиционирование */
            z-index: 2;
            top: 0px;                      /* Положение подсказки вначале*/
            left: -364px;
            // transform: translateX(-189.5px) translateY(0);
            width: 358px;
            background: $prime_color_1;    /* Внешний вид */
            color: $prime_color_3;
            border-radius: 5px;
            padding: 10px;
            box-shadow:0 5px 12px #ccc;
            opacity: 0;                    /* Подсказка невидима до наведения*/
            transition:0.34s linear;       /* Время появления подсказки */
            pointer-events: none;          /* Предотвратить взаимодействие курсора мыши с подсказкой */
        }

        
        [dataTooltip]:hover::after {
            opacity: 200%;
            top: 77px;                      /*Положение подсказки */
            left: -364px; 
            // transform: translateX(-189.5px) translateY(100px); 
        }

        .button::after{
            left: 0;
        }
        
        .button:hover::after{
            top: 63px;  
            left: 0;
        }

        

        .wrapperError {
            height: 17px;
            text-align: center;

            .errorMassage {
                color: rgb(255, 89, 89);
                font-size: 14px;
            }
    
            .errorPassAut {
                color: $supplemental_color_3;
            }
        }

        .recover {
            display: block;
            font-size: 14px;
            text-align: center;
            margin-bottom: 30px;
        }
    }


    .wrapperButtons {
        display: flex;
        align-items: center;

        .servises {
            width: 96px;
            height: 31px;
            margin: 15px 10px 0 0;
            border-radius: 3px;
            border: 1px solid opacify($supplemental_color_3, 0.5);
            background-color: #fff;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
}